* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFont;
  src: url(InaiMathi.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 390px;
  height: 92px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #3c3a39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-color {
  color: #fff;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  position: absolute;
  width: 101px;
  height: 44px;
  left: 12px;
  top: calc(50% - 44px / 2);
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.menu-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 60px;
  height: 44px;
  right: 12px;
  top: calc(50% - 44px / 2);
}

.menu {
  width: 24px;
  height: 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  margin-bottom: 0;
  gap: 12px;
  position: absolute;
  width: 390px;
  height: 590px;
  left: 0;
  top: 92px;
  background-color: #1c1a19;
  background-image: url(images/headline-background.svg);
  background-repeat: no-repeat;
  background-position: 100% 125%;
}

.headline-bio {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 327px;
  gap: 12px;
  padding-bottom: 0;
}

.primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  height: 124px;
  width: 327px;
  margin: 0;
}

.supporting-text {
  height: 27px;
  width: 327px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 0;
  display: flex;
  align-items: center;
}

.description {
  height: 123px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.social-media {
  width: 200px;
  height: 40px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  position: absolute;
  width: 390px;
  height: 5500px;
  left: 0;
  top: 682px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  width: 342px;
  height: 107px;
  border-bottom: 2px solid #e5e5e5;
}

.h3-title {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.frame44 {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 0 12px;
  gap: 24px;
  width: 390px;
  height: 3500px;
}

.featured-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  width: 390px;
  height: 3300px;
}

.featured-img > img {
  width: 327px;
  height: 237px;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 305px;
}

.block-h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
}

.block-p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 0;
}

.block-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.nav-language {
  width: 25px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

#bootstrap {
  flex-grow: 2;
}

.right-block > button {
  width: 120px;
  height: 40px;
  background: #ff6b00;
  border: none;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.frame43 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 0 12px 0 0;
  gap: 24px;
  width: 327px;
  height: 2550px;
}

.card-work {
  width: 327px;
  height: 427px;
  background-image: url(images/cardwork.svg);
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 10px;
}

.group-header {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.group-para {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.group-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
}

.group-ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.bootstrap {
  flex-grow: 2;
}

.group-li {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.action {
  height: 48px;
  background: #ff6b00;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

button.action:hover,
button.interaction:hover {
  cursor: pointer;
  color: #ff6b00;
  background-color: #fff;
  border: 1px solid #ff6b00;
  font-weight: bolder;
}

button.action:disabled,
button.interaction:disabled {
  color: #1c1a19;
  background-color: #f4f5f7;
  font-weight: bolder;
  cursor: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 24px;
  gap: 12px;
  width: 390px;
  height: 2000px;
  background: #1c1a19;
  background-image: url(images/Group.svg);
  background-position: 100% 38%;
  background-repeat: no-repeat;
}

.about-me > h2 {
  height: 78px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

.about-me > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.about-me > button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #f55800;
  border: none;
  padding: 5px;
}

#lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 335px;
  padding-top: 40px;
  margin-left: 8px;
  width: 320px;
  gap: 10px;
  border-top: 2px solid #e5e5e5;
}

#language > h3 {
  font-family: myFont, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  text-align: center;
}

#language {
  list-style: none;
  background-image: url('images/language.svg');
  background-repeat: no-repeat;
  background-position: 13% 5%;
  background-size: 18px;
}

.skills {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

#framework > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 240px;
}

#framework {
  list-style: none;
  background-image: url('images/framework.svg');
  background-repeat: no-repeat;
  background-position: 5% 5%;
  background-size: 15px;
}

#skill > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-start;
  padding-left: 50px;
  flex-direction: column;
  color: #fff;
}

#skill {
  list-style: none;
  background-image: url('images/skill.svg');
  background-repeat: no-repeat;
  background-position: 12% 5%;
  background-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
}
